<%= form_with(model: player_character, class: "contents") do |form| %>
  <% if player_character.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(player_character.errors.count, "error") %> prohibited this player_character from being saved:</h2>

      <ul class="list-disc ml-6">
        <% player_character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player_character.errors[:name].none?, "border-red-400 focus:outline-red-600": player_character.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :level %>
    <%= form.number_field :level, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player_character.errors[:level].none?, "border-red-400 focus:outline-red-600": player_character.errors[:level].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :player_class_id %>
    <%= form.text_field :player_class_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player_character.errors[:player_class_id].none?, "border-red-400 focus:outline-red-600": player_character.errors[:player_class_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
