<div id="<%= dom_id base_combatant %>">
  <p>
    <h1>
      <%= base_combatant.name %>
    </h1>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('armor_class').capitalize %>
    </strong>
    <%= base_combatant.armor_class %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('hit_die').capitalize %>
    </strong>
    <%= base_combatant.hit_die %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('hit_dice_number').capitalize %>
    </strong>
    <%= base_combatant.hit_dice_number %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('hitpoints').capitalize %>
    </strong>
    <%= base_combatant.hitpoints %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('proficiency_bonus').capitalize %>
    </strong>
    <%= base_combatant.proficiency_bonus %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('strength').capitalize %>
    </strong>
    <%= base_combatant.strength %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('dexterity').capitalize %>
    </strong>
    <%= base_combatant.dexterity %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('constitution').capitalize %>
    </strong>
    <%= base_combatant.constitution %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('intelligence').capitalize %>
    </strong>
    <%= base_combatant.intelligence %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('wisdom').capitalize %>
    </strong>
    <%= base_combatant.wisdom %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('charisma').capitalize %>
    </strong>
    <%= base_combatant.charisma %>
  </p>

  <p>
    <strong>
      <%= BaseCombatant.human_attribute_name('skills').capitalize %>
    </strong>
    <%= base_combatant.skills %>
  </p>

</div>
