<div id="<%= dom_id base_combatant %>">
  <p>
    <strong>Name:</strong>
    <%= base_combatant.name %>
  </p>

  <p>
    <strong>Armor class:</strong>
    <%= base_combatant.armor_class %>
  </p>

  <p>
    <strong>Hit die:</strong>
    <%= base_combatant.hit_die %>
  </p>

  <p>
    <strong>Hit dice number:</strong>
    <%= base_combatant.hit_dice_number %>
  </p>

  <p>
    <strong>Hitpoints:</strong>
    <%= base_combatant.hitpoints %>
  </p>

  <p>
    <strong>Proficiency bonus:</strong>
    <%= base_combatant.proficiency_bonus %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= base_combatant.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= base_combatant.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= base_combatant.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= base_combatant.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= base_combatant.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= base_combatant.charisma %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= base_combatant.skills %>
  </p>

</div>
